@model IEnumerable<RecursosHumanosWeb.Models.Usuario>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAreaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuestoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoUsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioCreaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioModificaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAreaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuestoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoUsuarioNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCreaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioModificaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
